@import url('./components/reset.css');
@import url('./components/vars.css');
@import url('./components/base.css');


/* Blocks styles */
@import url('./blocks/header.css');
@import url('./blocks/logo.css');
@import url('./blocks/menu.css');
@import url('./blocks/buttons.css');
@import url('./blocks/hero.css');
@import url('./blocks/sections-info.css');
@import url('./blocks/locations.css');
@import url('./blocks/location-card.css');