:root {
  /* Font family */
  --main-ff: 'Roboto', sans-serif;
  --secondary-ff: 'Gelasio', serif; 

  /* Markup */
  --main-container: 1140px;
  --lg-container: 1600px;
  --padding-container: 15px;
  --border-radius: 5px;
  --main-gap: 30px;
  --section-padding: 70px;
  --card-border-radius: 10px;

  /* Colors */
  --primary-color: #c9453b;
  --light-color: #fff;
  --opacity-light-color: rgba(255, 255, 255, .6);
  --dark-color: #000;
  --opacity-dark-color: rgba(0, 0, 0, .6);
}