.footer {
  padding: var(--section-padding) 0;
  color: var(--dark-color);

  background-color: rgba(38, 148, 153, 0.04);
  letter-spacing: 0.06em;
}

.footer__container {
  gap: var(--main-gap);

  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__logo {
  margin-bottom: 40px;
}

.footer__socials {
  margin-top: 20px;
}

.footer__subscribe-title {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
}

