.form__body {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 35px;
}

.form__input {
  border-radius: var(--border-radius);

  padding: 10px 20px;
  border: 1px solid rgba(0, 0, 0, .1);
  background-color: transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.form__input:focus {
  outline: none;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}

.form__input::placeholder {
  font-family: var(--main-ff);
  color: var(--dark-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.06em;
}